:root {
    --paragraphColor: #686868;
    --subtitleColor: #7302DC;
    --titleColor: #3B3B3B;
    --textWhite: #FFFFFF;
    --backgroundColor1: #FFFFFF;
    --backgroundColor2: #00FFFF;
    --backgroundColor3: #7000E3;
    --color1: #252525;
    --color2:#4F4E4E;
    --color3: #555555;
    --color4: #6A6A6A;
  
  }